body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.RoomList li a::before {
    content: '# ';
  }
  .RoomList li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  } 

  .UserInfo a:hover {
    color: white;
  }